################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/MSTest.TestAdapter.1.1.11/build/net45/MSTest.TestAdapter.props
